body {
  font-style: normal;
  font-weight: 400;
}

.container {
  margin: 0 80px 0 80px;
}

.price {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.price__navigation {
  color: #162E3C;
  margin-top: 128px;
  font-family: "Space Grotesk";
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: 15px;
  line-height: 24px;
  border-radius: 64px;
  width: 77px;
  height: 32px;
  background-color: #DDF0A7;
}

.price__title {
  color: #162E3C;
  margin-top: 15px;
  font-family: "Fraunces";
  font-size: 48px;
  line-height: 58px;
}

.price__subtitle {
  margin-top: 24px;
  color: #49616E;
  font-family: "Space Grotesk";
  font-size: 17px;
  line-height: 27px;
}

.price-orders-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-end;
}

.order {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  box-sizing: border-box;
  height: 668px;
  width: 405px;
  background-color: #162E3C;
  border-radius: 32px;
  font-family: "Space Grotesk";
  padding: 32px 32px 32px 32px;
  color: #FFFFFF;
  margin-bottom: 128px;
}
.order_main {
  background-color: #DDF0A7;
  height: 732px;
  color: #162E3C;
}

.order__line {
  margin: 32px 0 32px 0;
  border: 1px solid #223E4E;
}
.order__line_main {
  border: 1px solid #D1E39E;
}

.order__logo {
  display: flex;
  justify-content: flex-end;
}

.order__title {
  margin-top: 32px;
  font-size: 20px;
  line-height: 28px;
  font-family: "Fraunces";
}

.order__price-month {
  margin-top: 7px;
  display: flex;
  font-family: "Fraunces";
  font-size: 56px;
}

.order__price-text {
  display: flex;
  align-items: flex-end;
  font-size: 32px;
  vertical-align: bottom;
}

.order__price-year {
  margin-top: 8px;
  font-size: 16px;
}

.order__includes-text {
  font-size: 15px;
  margin-bottom: 24px;
}

.order__includes-marker-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.order__includes-marker-list-item {
  vertical-align: middle;
  line-height: 24px;
  margin-bottom: 16px;
  font-size: 15px;
}
.order__includes-marker-list-item:before {
  content: "";
  display: inline-block;
  height: 24px;
  width: 24px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #DDF0A7;
  margin-right: 16px;
}
.order__includes-marker-list-item_main:before {
  background-color: #162E3C;
}
.order__includes-marker-list-item:last-child {
  margin-bottom: 0px;
}

.order__footer {
  height: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: center;
}

.order__button {
  text-decoration: none;
  font-family: "Space Grotesk";
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #DDF0A7;
  border-radius: 64px;
  background-color: #DDF0A7;
  color: #162E3C;
  width: 341px;
  height: 52px;
}
.order__button_main {
  border: 2px solid #162E3C;
  background-color: #162E3C;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */